
  /* Styles for desktop */
  @media (min-width: 1200px) {
    .yoga-day-container {
      width: 50%; /* Adjust the width as per your requirement */
    }
  }

  /* Styles for laptop */
  @media (min-width: 992px) and (max-width: 1199px) {
    .yoga-day-container {
      width: 70%; /* Adjust the width as per your requirement */
    }
  }

  /* Styles for tablet */
  @media (min-width: 768px) and (max-width: 991px) {
    .yoga-day-container {
      width: 90%; /* Adjust the width as per your requirement */
    }
  }

  /* Styles for landscape */
  @media (max-width: 767px) and (orientation: landscape) {
 
  }

  /* Styles for phone */
  @media (max-width: 767px) and (orientation: portrait) {
    .yoga-day-container {
      width: 100%; /* Adjust the width as per your requirement */
    }
  }

